APP_NAME=Carshare
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=carshare_platform
DB_USERNAME=your_mysql_username
DB_PASSWORD=your_mysql_password

VEHICLES_API_URL=https://mock-api.net/api/modo/vehicles
VEHICLES_API_TIMEOUT=10